.wrapper {
  padding: 20px;
  height: 900px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  flex-wrap: wrap;
  background-color: #EFEFEF;
}
.main{
      background-color: #51f8b8;
}


h1 {
   display: flex;
   justify-content: center;
 }
.dashboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0px;
}

.items {
  height: 30%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #FFFFFF;
  font-size: 120px;
}
#item-0{
  background-color: #72C3DC
}
#item-1 {
  background-color: #2F454E
}
#item-2 {
  background-color: #BFBFBF
}
#item-3 {
  background-color: #6F98A8
}
#item-4 {
  background-color: #BFBFBF
}
#item-5 {
  background-color: #2B8EAD
}
#item-6 {
  background-color: #72C3DC
}
#item-7 {
  background-color: #2F454E
}
#item-8 {
  background-color: #BFBFBF
}
/* #000000 #2B8EAD #333333 #6F98A8 #FFFFFF #BFBFBF #EFEFEF #2F454E #72C3DC */
.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change-button {
  margin: 10px;
  padding: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: #2B8EAD;
  color: #fff;
}

/* #000000 #2B8EAD #333333 #6F98A8 #BFBFBF #EFEFEF #2F454E #72C3DC */